@model TruckEditInputModel

@{
	ViewBag.Title = "Edit Truck";
}

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<div class="container mt-5">
	<h2>Craete Truck</h2>
	<form asp-action="Edit" method="post">
		<div class="form-group">
			<label asp-for="TruckNumber">Truck Number</label>
			<input asp-for="TruckNumber" class="form-control" required />
			<span asp-validation-for="TruckNumber" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="Make">Make</label>
			<input asp-for="Make" class="form-control" required />
			<span asp-validation-for="Make" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="Model">Model</label>
			<input asp-for="Model" class="form-control" required />
			<span asp-validation-for="Model" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="LicensePlate">License Plate</label>
			<input asp-for="LicensePlate" class="form-control" required />
			<span asp-validation-for="LicensePlate" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="ModelYear">Model Year</label>
			<input asp-for="ModelYear" class="form-control" required />
			<span asp-validation-for="ModelYear" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="Color">Color</label>
			<input asp-for="Color" class="form-control" required />
			<span asp-validation-for="Color" class="text-danger"></span>
		</div>
		<div class="form-group">
			@for (int i = 0; i < Model.Parts.Count(); i++)
			{
				<div class="form-check">
					<input asp-for="Parts[i].IsSelected" class="form-check-input" />
					<label class="form-check-label">
						@($"{Model.Parts[i].PartType} - {Model.Parts[i].PartMake}")
					</label>
					<input type="hidden" asp-for="Parts[i].PartId" />
					<input type="hidden" asp-for="Parts[i].PartType" />
					<input type="hidden" asp-for="Parts[i].PartMake" />
				</div>
			}
		</div>
		<button type="submit" class="btn btn-primary">Save Changes</button>
		<a asp-action="Index" class="btn btn-secondary btn-danger">Cancel</a>
	</form>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
